<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Home</h1>
<p>Home decription</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis tempor congue. Quisque mattis quam sed sem viverra pellentesque. Integer feugiat laoreet ipsum, eu pharetra nisl commodo eu. Donec sed magna est, egestas bibendum neque. Vivamus vestibulum, risus vel eleifend pretium, nisi arcu porttitor purus, quis viverra velit arcu in nisi. Duis a elit vel mi elementum mattis. Aliquam est risus, blandit non gravida a, mattis in quam. Sed in mi ut nisi feugiat egestas. Praesent at erat nulla, in tristique est. Pellentesque dapibus, enim vitae facilisis gravida, augue risus vehicula ligula, quis rutrum dolor magna ultrices leo.
</p>
<p>
Vestibulum laoreet feugiat risus, id feugiat elit ullamcorper a. Donec sit amet libero vel orci fringilla fermentum. Fusce pretium, leo sit amet convallis pellentesque, tortor massa mollis erat, in convallis nisl enim nec lorem. Sed in ante vel purus posuere lobortis. Vivamus fermentum elementum sem at tristique. Cras tristique risus fermentum turpis consectetur at viverra purus commodo. Suspendisse lorem metus, faucibus sed lobortis non, accumsan vel sem. Suspendisse at viverra leo. Cras ullamcorper eleifend sem vitae fringilla. Nullam sed risus a nunc cursus ultricies eu vitae purus. Donec consequat massa non lacus sodales non euismod augue egestas. Maecenas at nulla ut tortor sollicitudin cursus. Fusce scelerisque, felis quis tempor elementum, urna nulla sodales erat, quis aliquet lacus nibh a lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis lorem purus, condimentum sit amet sagittis quis, interdum non massa. Phasellus gravida suscipit ante, non commodo tortor vulputate nec.
</p>
<p>
Proin pretium aliquet facilisis. Nulla ac scelerisque quam. Ut non dui diam. Phasellus blandit posuere nulla id congue. Morbi pretium vehicula posuere. Vestibulum tempus mattis massa. Nunc dolor neque, pretium in mollis sed, interdum ac tellus. Vivamus tortor urna, fermentum ut varius eu, posuere non ipsum. Etiam vehicula, nulla quis pharetra semper, nisi purus imperdiet odio, quis vestibulum sem odio commodo ligula. Pellentesque in orci urna. Suspendisse potenti. Etiam sagittis luctus volutpat. Pellentesque bibendum varius mi, sit amet viverra metus imperdiet ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
</p>